<!-- Start of Elevio Assistant script -->
<script type="text/javascript">
  var _elev = window._elev || {};
  _elev.account_id = '{{ account_id }}';
  (function () { var i,e;i=document.createElement('script'),i.type='text/javascript';i.async=1,i.src='https://cdn.elev.io/sdk/bootloader/v4/elevio-bootloader.js?cid={$account_id}',e=document.getElementsByTagName('script')[0],e.parentNode.insertBefore(i,e);})();
  {% if user_hash %}
    _elev.user = {
      first_name: '{{ username }}',
      email: '{{ email }}',
      user_hash: '{{ user_hash }}' };
  {% endif %}
</script>
<!-- End of Elevio Assistant script -->
